/*
Author: Chinatsu Kawakami
Created Date: Feb 9 2018
Description: This is html to show the idol photo
*/
.container{
    padding: 100px 200px;
     
}
.satou{
	
	margin-left:auto;
	margin-right:auto;
	position: absolute;
	align-items: center;
	text-align:center;
	border: 1px solid #aaa;
	padding: 20px auto;
	margin: 20px auto;
   
}
.do{
	
	margin-left:auto;
	margin-right:auto;
	position: absolute;
	align-items: center;
	text-align:center;
	border: 1px solid #aaa;
	padding: 20px auto;
	margin: 20px 250px;
	   
}
.ayumin{
	
	margin-left:auto;
	margin-right:auto;
	position: absolute;
	align-items: center;
	text-align:center;
	border: 1px solid #aaa;
	padding: 20px auto;
	margin: 20px 500px;
	  
}
.harunan{
	
	margin-left:auto;
	margin-right:auto;
	position: absolute;
	align-items: center;
	text-align:center;
	border: 1px solid #aaa;
	padding: 20px auto;
	margin: 20px 750px;
	   
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
#show{
    margin-left:auto;
	position: relative;
    margin-right:auto;
    
/*	padding: 200px 30px;
	margin: 10px 0px;*/
	/*margin: 200px 20px;*/
	/*padding:30px 30px;*/
	  
}

#showdo{
    margin-left:auto;
    margin-right:auto;
    position: relative;
/*	margin-right:auto;
	align-items: center;
	text-align:center;
	padding: 0px -40px;
	margin: -450px 250px;*/
	 
}
#showayu{
	 margin-left:auto;
     position: relative;
	 margin-right:auto;
/*	margin-left:auto;
	margin-right:auto;
	align-items: center;
	text-align:center;
	padding: 0px -100px;
	margin: -200px 350px;*/
 

	
}
#showharunan{
    margin-left:auto;
    position: relative;
	margin-right:auto;
	
	/*align-items: center;
	text-align:center;
	padding: 0px -100px;
	margin: -200px 350px;*/
	
 /* float: right;
  width: 10%;
  margin: 0.5em;
  margin-top: 15em;
  padding: 2.5em; 
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;*/
	  
}